body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(220, 200, 16); */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;

    height: 50px;
}

header img {
    width: 75px;
}

header input {
    width: 250px;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    outline: none;
    height: 40px;
}

header button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(87, 193, 193);
    padding: 15px;
    width: 155px;
    font-weight: 700;
    margin: 90px;
}

.header-glovo-logo {
    height: 50px;
    width: 150px;
}

.section1 {
    justify-content: center;
}

.section1 p {
    font-size: 24px;
}

.section1-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.section1-icons {
    background-color: aliceblue;
    width: 120px;
    height: 120px;
    border-radius: 45% 30%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFC244FF;
    height: 10vh;
}

header img {
    width: 75px;
}

header input {
    width: 30%;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    outline: none;
}

header button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #00A082FF;
    padding: 10px 20px;
    font-weight: 700;
}

.main {
    background-color: #FFC244FF;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.main .location {
    height: 15vh;
}

.main .location p {
    font-size: 24px;
}

.categories {
    display: flex;
    max-width: 50%;
    max-height: 35vh;
    gap: 15px;
    align-items: stretch;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.egg {
    border-radius: 46% 54% 54% 46%/58% 56% 44% 42%;
    background-color: white;
}

.egg img {
    transform: scale(0.75);
}

.section-two{
    margin: 50px 200px;
    display: flex;
    flex-direction: column;

}
.section-two_images_texts{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.section-two_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}
.section-two_card{
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 250px;
    height: 200px;
}
.section-two_card_img{
    width: 100%;
    height: 70%;
    background-image: url(img/9d4c128096139dd00ebaf2e09af5c630333497e0fa861a1ad0bb69d981697c48.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.section-two_card_texts{
    margin: 0;
    padding: 0;
}
.section-two_card_texts h1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: 900;
    
}
.section-two_card_texts p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 17px;
}

.section-two_card_img1{
    width: 100%;
    height: 70%;
    background-image: url(img/1b83179e9b3d0e87b2bcd473e8b42f617f8607ef5f12e2a7a044d506e70aa076.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img2{
    width: 100%;
    height: 70%;
    background-image: url(img//13f9c3a9d078f55ec50eef46067dfc8c2fdc75a6b9ee3cf9cc385d8ee21a32ca.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img3{
    width: 100%;
    height: 70%;
    background-image: url(img/d4648d512c4a987f61349dc7f086328f332ef6a719b63bde68f83512ad923aef.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img4{
    width: 100%;
    height: 70%;
    background-image: url(img/ab06a44ae442c05ff2ed59e2b1b9bbe492c5499a826e8787a8535971eadac6b2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img5{
    width: 100%;
    height: 70%;
    background-image: url(img/267157c8141ecebc7316ae9b146c2e4c01d055bd7202fcc058630beda6972da5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img6{
    width: 100%;
    height: 70%;
    background-image: url(img/e4162688396f7915ec6a5d5888d2db650b4e5aca0ebdb00c77d0940d37f74438.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img7{
    width: 100%;
    height: 70%;
    background-image: url(img/50b0efb192619699c322276512203f519d994877da764c1053f691a8ffd407a3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}