body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(220, 200, 16); */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;

    height: 50px;
}

header img {
    width: 75px;
}

header input {
    width: 250px;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    outline: none;
    height: 40px;
}

header button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(87, 193, 193);
    padding: 15px;
    width: 155px;
    font-weight: 700;
    margin: 90px;
}

.header-glovo-logo {
    height: 50px;
    width: 150px;
}

.section1 {
    justify-content: center;
}

.section1 p {
    font-size: 24px;
}

.section1-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.section1-icons {
    background-color: aliceblue;
    width: 120px;
    height: 120px;
    border-radius: 45% 30%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFC244FF;
    height: 10vh;
}

header img {
    width: 75px;
}

header input {
    width: 30%;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    outline: none;
}

header button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #00A082FF;
    padding: 10px 20px;
    font-weight: 700;
}

.main {
    background-color: #FFC244FF;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.main .location {
    height: 15vh;
}

.main .location p {
    font-size: 24px;
}

.categories {
    display: flex;
    max-width: 50%;
    max-height: 35vh;
    gap: 15px;
    align-items: stretch;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.egg {
    border-radius: 46% 54% 54% 46%/58% 56% 44% 42%;
    background-color: white;
}

.egg img {
    transform: scale(0.75);
}

.section-two{
    margin: 50px 200px;
    display: flex;
    flex-direction: column;

}
.section-two_images_texts{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.section-two_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}
.section-two_card{
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 250px;
    height: 200px;
}
.section-two_card_img{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/565d9076196a96580be3ed764aa85ea3b5937e5276357bbc9dd030a41f8c285b?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7ImhlaWdodCI6MjI1fX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.section-two_card_texts{
    margin: 0;
    padding: 0;
}
.section-two_card_texts h1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: 900;
    
}
.section-two_card_texts p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 17px;
}

.section-two_card_img1{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/50b0efb192619699c322276512203f519d994877da764c1053f691a8ffd407a3?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7ImhlaWdodCI6MjI1fX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img2{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/13f9c3a9d078f55ec50eef46067dfc8c2fdc75a6b9ee3cf9cc385d8ee21a32ca?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7Im1vZGUiOiJmaWxsIiwiYmciOiJ0cmFuc3BhcmVudCIsIndpZHRoIjo1ODgsImhlaWdodCI6MzIwfX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img3{
    width: 100%;
    height: 70%;
    background-image: url(
        https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBPPFFl1euqGUoRyUmdfugs5pNuUo_ZjhuTA&usqp=CAU);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img4{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/ab06a44ae442c05ff2ed59e2b1b9bbe492c5499a826e8787a8535971eadac6b2?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7ImhlaWdodCI6MjI1fX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img5{
    width: 100%;
    height: 70%;
    background-image: url(
        https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV8aysT_vzWApGCkxOFWPvY-IsZgartw8lAg&usqp=CAU);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img6{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/47eb6734c18126b6fa411a63c2701bb165d9dca4b08dfd5a13b9891a8baa766c?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7ImhlaWdodCI6MjI1fX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.section-two_card_img7{
    width: 100%;
    height: 70%;
    background-image: url(https://images.deliveryhero.io/image/stores-glovo/stores/50b0efb192619699c322276512203f519d994877da764c1053f691a8ffd407a3?t=W3siYXV0byI6eyJxIjoibG93In19LHsicmVzaXplIjp7ImhlaWdodCI6MjI1fX1d);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}