.box {
    /* background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px); */

    height: 50px;

}

#video {
    filter: blur(10px);
    z-index: 0;
    position: absolute;
}




.content {
    padding: 20px 0;
}

.page-title {
    color: #333;
}

/* Стили для карточек */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin: 0 0 10px;
}

.card-text {
    margin: 0 0 20px;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.card-link:hover {
    background-color: #0056b3;
}