.lamoda_banner {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.lamoda-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */

}

.lamoda-text {


}

/* 8 */

.card-card {
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: auto;

}

.card-text h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-text p {
    margin: 0;
    font-size: 14px;
}