section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.section-div1 {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.section-div2 {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* align-items: start; */
    /* border-radius: 20px; */
    width: 35%;
    /* box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.17); */
    /* padding: 20px 10px; */
    position: sticky;
    top: 1px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-buuton {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none
}

.section-buuton2 {
    padding: 3px;
    width: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ion {
    width: 30px;
    height: 30px;
}

.profil_photo {
    gap: 40px;
    display: flex;
    justify-content: left;
    padding: 90px;
}


.profil_photo_select {
    display: flex;
    padding: 10px 10px;
    margin-top: 50px;
    justify-content: left;
    width: 55px;
}

.profil_photo_text h3 {
    font-size: 22px;
}

.profil_photo_text p {
    color: rgb(0, 0, 0);
    border-radius: 50px 50px;
}