* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для заголовка */
header {
    display: flex;
    flex-direction: row;
    background-color: #1c1c1e;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 10px 20px;
    /* Отступы внутри */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень */
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.container_nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.container_nav select {
    background-color: #1c1c1e;
    color: #fff;
    border-radius: none;
    border: none;
}


.container ul {
    width: 1200px;
    /* Ширина контейнера */
    margin: 0 auto;
    /* Выравнивание по центру */
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    /* Цвет фона при наведении */
}

.server_sign a {
    text-decoration: none;

}

#server_sign_eart {
    margin: 15px;
}

#server_sign_play {
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    width: 85px;
}

#server_sign_up {
    padding: 5px;
    background-color: rgb(81, 81, 81);
    border-radius: 5px;
    width: 75px;
}

.bg_box {
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

.bg_video {
    height: 500px;
    overflow: hidden;
}

#bg-video {
    filter: blur(5px);
    width: 100%;
}

#top-video {
    width: 100%;
}





.video-content {
    position: absolute;
    width: 80%;
    height: 500px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    /* clip-path: polygon(83% 0, 100% 36%, 100% 100%, 20% 100%, 0 66%, 0 0); */
}

.video-content img {
    object-fit: cover;
}

.video-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-content button {
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    position: relative;
}

.btn_border {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    height: 65px;
    width: 185px;
    top: -5px;
    left: -5px;
    clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%, 0 0);
    z-index: 5;
}


/* 2 */
.section-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    gap: 50px;
    margin-top: 75px;
}

#cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    width: 25%;
    border-radius: 0px 30px 0px 0px;
}

.cardContainer_img {
    overflow: hidden;
    height: 150px;
    margin-left: -20px;
    z-index: -1;
}

.cardContainer_img img {
    transform: scale(1.1);

}

.cardContainer_text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 7px;
    width: 70%;
    height: 100%;

}

.cardContainer_text h4 {
    margin: 0;
    color: gray;
}

.cardContainer_text h3 {
    margin: 0;
    color: rgb(83, 83, 83);
    font-size: 18px;
}

.cardContainer_text p {
    margin: 0;
    font-size: 13px;
}





/* section-3 */

.section3_list {
    width: 100%;
    height: 100vh;
    background: aliceblue;
}

.section3_text {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}

.section3_text p {
    font-size: 30px;
    font-family: italic;

}

.section3_text h1 {
    font-size: 70px;
}

.btn-active button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 100px 0px 100px 0px;
    transition: all 0.5s ease-in-out;
}

.btn-active button:hover {
    border-radius: 0px 0px 0px 0px;
}

.section-3-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .main-card-1 {} */

.navigation-section-3 {
    display: flex;
    gap: 20px;

}

.navigation-section-3 li {
    list-style: none;
}

/* .element-sec-3 {} */

.section3-video {
    padding: 40px;
}




/* FOOTER */

/* .section_footer {
    display: flex;
} */

.list1_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 77px;
    background-color: rgb(6, 28, 37);
}

.list2_footer {
    background-color: #292929;
}

.list2_footer_text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 78px;

}

.list2_footer_text a {
    text-decoration: none;
    color: #fff;

}

/*LIST3 */

.list3_footer {
    background-color: #000000;
    height: 549px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    align-items: center;
    padding-top: 50px;
}

.list3_footer_textp {
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    color: #fff;
}
.list3_footer_textp p{
    text-align: center;
}
.list3_footer-icon{
    width: 30px;
    height: 30px;
    color: white;
}
.list3_footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;

}

.list3_footer_nav a{
    font-size: 20px;
}

.list3_footer_nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
}

.list3_footer_img {
    /* max-width: 100%; */
    /* padding: 8px 12px;  */
    border-radius: 8px;
}