/* header {



}

.container {
    display: flex;

}

.container_nav a {
    text-decoration: none;
    color: aliceblue;
}


 */


/* Общие стили для заголовка */
header {
    display: flex;
    background-color: black;
    flex-direction: row;
    background-color: #1c1c1e;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 10px 20px;
    /* Отступы внутри */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень */
}

.container_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


.container {
    width: 1200px;
    /* Ширина контейнера */
    margin: 0 auto;
    /* Выравнивание по центру */
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    /* Цвет фона при наведении */
}

.server_sign a {
    text-decoration: none;

}

#server_sign_play {
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    width: 85px;
}

#server_sign_up{
    padding: 5px;
    background-color: rgb(81, 81, 81);
    border-radius: 5px;
    width: 75px;
}