*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}

.main-cards{
    width: 100%;
    height: 100vh;
    background: rgb(20, 21, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}


.cards {
    width: 400px;
    height: 660px;
    background: rgb(227, 227, 227);
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    text-align: center;  
    transition: all 0.5s ease-in-out;  
}

.cards:hover{
    transform: translate(10px,20px);
    box-shadow: -9px -9px 40px 8px white;
}

.card_img {
    width: 500px;
    height: 300px;
}
.card_price {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;

}
.card_text_one {
    padding-bottom: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.card_text {
    text-wrap: wrap;
    width: 320px;
    height: 142px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Alegreya Sans SC", sans-serif;
    padding-left: 90px;
}
.pad_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pad_panel div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}

#post-1{
    .card_price{
        color: rgb(230, 7, 100);
    } 
    .pad_panel{
        background: rgb(230, 7, 100);
        color: aliceblue;
    }

}

#post-2{
    .card_price{
        color:rgb(254, 76, 12);
    } 
    .pad_panel{
        background:rgb(254, 76, 12);
        color: aliceblue;
    }

}

#post-3{
    .card_price{
        color: rgb(1, 180, 60);
    } 
    .pad_panel{
        background:rgb(1, 180, 60);
        color: aliceblue;
    }

}